server:
  port: @acupt.server.port@
  max-http-header-size: 8192
  tomcat:
    uri-encoding: UTF-8


spring:
  thymeleaf:
    mode: LEGACYHTML5
    encoding: UTF-8
  datasource:
    url: @acupt.mysql.url@
    username: @acupt.mysql.username@
    password: @acupt.mysql.password@ #配置文件中要加引号保证准确
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    database: mysql
    show-sql: true
    hibernate.ddl-auto: update

#开启对AOP的支持
spring.aop.auto: true
#设置代理模式 true（cglib） false(java JDK代理)
#spring.aop.aspect-target-class: true

#spring.jpa.properties.hibernate.hbm2ddl.auto: validate
#spring.jpa.hibernate.ddl.auto: create-drop
#spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL5Dialect

#
#elasticsearch.clustername: elasticsearch
#elasticsearch.host: localhost
#elasticsearch.port: 9300