<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>acupt</title>
    <style>
        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }
    </style>
</head>
<script src='/js/jquery-3.2.1.min.js'></script>
<body style="margin-top: 10px">
<div align="center">
    <div id="topbar"></div>
    <div>
        <table class="table">
            <tr>
                <td>#</td>
                <td>QQ</td>
                <td>STATE</td>
                <td><a href="/qq/qrcode" target="_blank">NEW</a></td>
            </tr>
            <tr th:each="entry:${map}">
                <td th:text="${entryStat.count}"></td>
                <td th:text="${entry['key']}"></td>
                <td th:text="${entry['value']}"></td>
                <td>
                    <a class="btn btn-link" href="#"
                       th:onclick="'javascript:state(\'start\',\''+${entry['key']}+'\')'">START
                    </a>
                    <a class="btn btn-link"
                       th:onclick="'javascript:state(\'pause\',\''+${entry['key']}+'\')'">PAUSE
                    </a>
                    <a class="btn btn-link"
                       th:onclick="'javascript:state(\'stop\',\''+${entry['key']}+'\')'">STOP
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
<script>
    $("#topbar").load("/topbar");
    function state(op, id) {
        $.ajax({
            type: "POST",
            url: '/qq/' + op,
            data: {
                id: id
            },
            dataType: 'json',
            success: function (result) {
                if (result.ok) {
                    window.location.reload(true);
                } else {
                    alert(result.msg)
                }
            }
        })
    }
</script>