<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ACUPT</a>
        </div>
        <div th:if="${ctx!=null}">
            <ul class="nav navbar-nav" th:each="nav : ${ctx.tool}">
                <li><a href="##" th:href="${nav.uri}" th:text="${nav.desc}">导航</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <input style="position: absolute;top: 0;left: 0;opacity: 0;z-index: -10;" id="myIp" th:value="${ctx.ip}">
            <ul class="nav navbar-nav">
                <li><a id="tip"></a></li>
                <li><a href="##" th:text="${ctx.ip}" onclick="copyIp()">WTF</a></li>
            </ul>
        </div>
    </div>
</nav>
<script>
    function copyIp() {
        var ip = document.getElementById('myIp');
        ip.select();
        var done = document.execCommand('Copy');
        if (done) {
            showTip('you got it!');
        } else {
            showTip('ffffuck, you lose it!');
        }
    }

    function showTip(tip) {
        $('#tip').stop(true).text(tip).fadeIn(500).delay(1000).fadeOut(500);
    }
</script>