<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A CUP TIME</title>
</head>
<script src='/js/jquery-3.2.1.min.js'></script>
<body>
<style>
    .t-input {
        width: 200px;
    }
</style>
<div id="topbar"></div>
<div class="toolview form-inline" align="center" style="padding-top: 100px">
    <input id="timestamp" type="number" class="form-control t-input">
    <button class="btn btn-default" onclick="jsonFormat()">Format</button>
    <input id="bjtime" class="form-control t-input">
</div>
</body>
</html>
<script>
    $("#topbar").load("/topbar");

    $(document).ready(function () {
        document.getElementById('timestamp').value = new Date().getTime();
    })

    function jsonFormat() {
        var t = document.getElementById('timestamp').value;
        $.ajax({
            type: "GET",
            url: "/tool//2bjtime",
            data: {
                t: t
            },
            dataType: 'json',
            success: function (res) {
                if (!res.ok) {
                    alert(res.msg);
                    return;
                }
                document.getElementById('bjtime').value = res.data;
            },
            error: function (xhr, status, e) {
                alert('something wrong ' + status);
            }
        });
    }
</script>
